body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Gris claro elegante */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 10px; /* Espacio entre los botones */
}

button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#generate-files {
    background: linear-gradient(145deg, #007bff, #0056b3);
}

#download-zip {
    background: linear-gradient(145deg, #28a745, #218838);
}

#output {
    margin-top: 20px;
    font-size: 14px;
    color: green;
}
